@import '../node_modules/basscss-basic/index.css';
@import '../node_modules/basscss-addons/modules/btn/index.css';
@import '../node_modules/basscss-addons/modules/btn-primary/index.css';
@import '../node_modules/basscss-addons/modules/btn-outline/index.css';
@import '../node_modules/basscss-addons/modules/forms/index.css';
@import '../node_modules/basscss-addons/modules/input-range/index.css';
@import '../node_modules/basscss-addons/modules/responsive-margin/lib/sm-margin.css';
@import '../node_modules/basscss-addons/modules/responsive-padding/lib/sm-padding.css';
@import '../node_modules/basscss-addons/modules/media-object/index.css';
@import '../node_modules/basscss-addons/modules/all/index.css';
@import '../node_modules/basscss-addons/modules/progress/index.css';
@import '../node_modules/basscss-addons/modules/lighten/index.css';
@import '../node_modules/basscss-addons/modules/background-images/index.css';
@import '../node_modules/basscss-addons/modules/darken/index.css';
@import '../node_modules/basscss-type-scale/index.css';
@import '../node_modules/basscss-typography/index.css';
@import '../node_modules/basscss-layout/index.css';
@import '../node_modules/basscss-align/index.css';
@import '../node_modules/basscss-margin/index.css';
@import '../node_modules/basscss-padding/index.css';
@import '../node_modules/basscss-grid/css/grid.css';
@import '../node_modules/basscss-flexbox/index.css';
@import '../node_modules/basscss-position/index.css';
@import '../node_modules/basscss-border/index.css';
@import '../node_modules/basscss-hide/index.css';

@import '../node_modules/purecss/build/pure.css';

@import 'App/styles.css';
@import 'Entries/styles.css';
@import 'Entry/styles.css';

body {
    background-color: #ddd;
    margin-top: 20px;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}

button {
    margin-right: 15px;
}

.logo {
    background: url('assets/images/favicon.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#hepburn-input {
  font-family: monospace;
  font-size: 25px;
  text-align: -webkit-center;
}

#hepburn-output {
  margin-top: -10px;
  font-size: 30px;
  position: fixed;
}
