# Stack uses this directory as scratch space.
/.stack-work/
# Stack generates the Cabal file from `package.yaml` through hpack
/*.cabal
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
# IntelliJ
.idea
*.iml
#
dist
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
*.prof
*.aux
*.hp
#
out