
.header-content {
    background-color: aquamarine;
}

.main-content {
    padding:15px;
    border:black 5px solid;
    margin:20px;
}

button:disabled {
    cursor: not-allowed;
}

.btn:focus {
    box-shadow: none;
}
