
body {
    /*height: 125vh;*/
    padding: 30px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 80px;
    /*box-shadow: 0 0 10px 0 black;*/
}

header img {
    height: 80px;
    margin-left: 20px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: var(--darken-3);
    text-decoration: none;
}

nav > ul > li > a.selected {
    color: var(--darken-4);
}

nav > ul > li > a:hover {
    color: black;
}

.main-content {
    margin: 20px;
    padding: 15px;
    border: black 5px solid;
    /*margin: 20px;*/
}

button:disabled {
    cursor: not-allowed;
}

.btn:focus {
    box-shadow: none;
}

.kana-text {
    min-height: 40px;
}
