
body {
    /*height: 125vh;*/
    padding: 30px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 80px;
    box-shadow: 0 0 25px 0 black;
}

header img {
    height: 80px;
    margin-left: 20px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

a.selected {
    background-color: blue;
}

.main-content {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border: black 5px solid;
    /*margin: 20px;*/
}

button:disabled {
    cursor: not-allowed;
}

.btn:focus {
    box-shadow: none;
}
